@import "nullstyle.scss";
@import "fonts.scss";

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1E252B;
}

.container {
    max-width: 1265px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 100px;
}

details {
    position: relative;
    padding-left: 100px;

    & summary::marker {
        content: ('');
    }

    & summary {
        display: flex;
        align-items: center;
        gap: 0 10px;
        cursor: pointer;

        & svg {
            & path {
                stroke: #9A9DA0;
            }
        }
    }

    & ul {
        @include flex($fDirection: column, $rGap: 8);
    }

    &[open] summary+ul {
        position: absolute;
        top: 20px;
    }
}



.card {
    @include flex($fDirection: column, $rGap: 30);
    position: relative;
    padding: 33px;
    max-width: 395px;
    min-height: 295px;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    border: 2px solid transparent;
    transition: linear .3s;
    cursor: pointer;

    &--shadow {
        position: absolute;
        right: 45px;
        top: 35px;
        display: none;
        transition: linear .2s;
        box-shadow: 0 0 65px 35px #ff6e30;
        opacity: .4;
    }

    &-top {
        @include flex(center, $cGap: 30);

        &__textblock {
            @include flex($fDirection: column, $rGap: 5);

            & .brandname {
                @include font(24, 500, 36, none, #FFFFFF);
                opacity: .7;
                transition: linear .3s;
            }

            & .state {
                @include font(18, 400, 27, none, #FFA537);
                opacity: .5;
                transition: linear .3s;
            }
        }
    }

    &-text {
        @include font(16, 400, 30, none, #FFFFFF);
        transition: linear .3s;
        opacity: .5;
    }

    &-bot {
        @include flex(center, space-between);

        &__action {
            @include flex(center, $cGap: 20);

            &__loveblock {
                & path {
                    fill: #73787C;

                    &.redlove {
                        fill: #FD3B41;
                    }
                }
            }

            &__folderblock {
                & path {
                    stroke: #73787C;
                }
            }

            &__loveblock,
            &__folderblock {
                padding: 7px;
                border-radius: 8px;
                transition: linear .2s;

                &:hover {
                    background-color: #283036;
                }
            }
        }

        & .card-btn {
            padding: 10px 35px;
            background-color: transparent;
            border-radius: 8px;
            transition: linear .3s;
            @include font(16, 600, 24, none, #FFFFFF);
            opacity: .5;

            &:hover {
                background-color: #FF6E30;
                opacity: 1;
            }
        }
    }

    &:hover {
        border-color: #2E343A;
        background-color: #242C32;
        transform: translateY(-5px);

        & svg.sketch {
            transform: rotateY(180deg);
            transition: linear .4s;
        }

        & span:where(.brandname, .state),
        & p:where(.card-text) {
            opacity: 1;
        }

        & span.card--shadow {
            display: inline-block;
        }
    }
}

.popular {
    &-content {
        &__cardblock {
            @include flex($cGap: 25, $rGap: 100);
            flex-wrap: wrap;
        }
    }
}